includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  level: max
  tipsOfTheDay: false
  errorFormat: compact
  parallel:
    maximumNumberOfProcesses: 7
  paths:
    - src
  ignoreErrors:
    - message: '/^Instanceof between SimpleXMLElement and SimpleXMLElement will always evaluate to true\.$/'
      path: src/Driver/Traits/XmlMappingTrait.php
